<!DOCTYPE html>
<html>
<head>
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <script>
        window.ga = window.ga || function () {
            (ga.q = ga.q || []).push(arguments)
        };
        ga.l = +new Date;
        ga('create', '{{ analytics_id }}', 'auto');
        ga('set', 'transport', 'beacon');
        ga('send', 'pageview', {
            dimension1: 'page load',
            dimension2: '{{ req_type }}',
            dimension3: '{{ ip }}'
        });
    </script>
    <script async defer src='https://www.google-analytics.com/analytics.js'></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <style>
        html {
            height: 100%;
            width: 100%;
        }
        body {
            min-height: 100%;
            min-width: 100%;
        }
    </style>
</head>
<body>
<script>
    var r = 'adapt';
    var height = document.body.clientHeight;
    var width = document.body.clientWidth;
    var ins = document.createElement('ins');
    ins.className = 'adsbygoogle';
    ins.dataset.adClient = 'ca-pub-7005100774217586';
    if (700<width && width<=1100 && 80<height && height<=200){
        r = 'h';
    }
    else if(200<width && width<=700 && 50<height && height<=300){
        r = 'h';
    }
    else if(150<width && width<=350 && 900<height && height<=1600){
        r = 'v';
    }
    else if(150<width && width<=600 && 125<height && height<=700){
        r = 'v';
    }
    else{
        r = 'adapt';
    }
    if (r === 'adapt'){
        ins.style.display = 'block';
        ins.dataset.adSlot = '3052658814';
        ins.dataset.adFormat = 'auto';
    }
    else{
        ins.style.display = 'inline-block';
        ins.style.width = width + 'px';
        ins.style.height = height + 'px';
        ins.dataset.adSlot = '9618241398';
    }
    document.body.appendChild(ins);
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</body>
</html>
