<!DOCTYPE html>
<html>
<head>
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <script>
        window.ga = window.ga || function () {
            (ga.q = ga.q || []).push(arguments)
        };
        ga.l = +new Date;
        ga('create', '{{ analytics_id }}', 'auto');
        ga('set', 'transport', 'beacon');
        ga('send', 'pageview', {
            dimension1: 'page load',
            dimension2: '{{ req_type }}',
            dimension3: '{{ ip }}'
        });
    </script>
    <script async defer src='https://www.google-analytics.com/analytics.js'></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
<!-- инвистигейшин -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7005100774217586"
     data-ad-slot="3052658814"
     data-ad-format="auto"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</body>
</html>
